.logoIcon {
  width: 156.8px;
  height: 40.5px;
}
.becomeAHost,
.home,
.logoIcon,
.stays {
  position: relative;
}
.navLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.avatarIcon,
.notificationsIcon {
  width: 26px;
  position: relative;
  height: 26.5px;
  object-fit: contain;
}
.avatarIcon {
  width: 36px;
  border-radius: 50%;
  height: 36px;
  object-fit: cover;
}
.loginSection {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.header,
.headerContent,
.loginSection {
  display: flex;
  align-items: center;
}
.headerContent {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
}
.header {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--light-grey-border);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
